version: "3.8"

services:
  backend:
    build:
      context: ./backend
    environment:
      MONGO_URI: mongodb://localhost:27017/todo-list-app
      PORT: 5000
    ports:
      - "5000:5000"

  frontend:
    build:
      context: ./frontend
      args:
        REACT_APP_API_URL: http://localhost:5000
    ports:
      - "3000:80"
    depends_on:
      - backend
